[submodule "Giraffe"]
	path = Giraffe
	url = git@github.com:joseph-zhong/Giraffe.git
[submodule "BeaverDam"]
	path = BeaverDam
	url = git@github.com:joseph-zhong/BeaverDam.git
[submodule "cnn-text-classification-tf"]
	path = cnn-text-classification-tf
	url = git@github.com:joseph-zhong/cnn-text-classification-tf.git
[submodule "social-scene-understanding"]
	path = social-scene-understanding
	url = git@github.com:joseph-zhong/social-scene-understanding.git
[submodule "Theano"]
	path = Theano
	url = https://github.com/Theano/Theano
[submodule "Spectrum"]
	path = Spectrum
	url = git@github.com:joseph-zhong/Spectrum.git
[submodule "queens"]
	path = queens
	url = git@github.com:joseph-zhong/queens.git
[submodule "tf-faster-rcnn"]
	path = tf-faster-rcnn
	url = git@github.com:joseph-zhong/tf-faster-rcnn.git
[submodule "fairseq"]
	path = fairseq
	url = git@github.com:facebookresearch/fairseq.git
[submodule "awesome-deep-vision"]
	path = awesome-deep-vision
	url = git@github.com:kjw0612/awesome-deep-vision.git
[submodule "msi-keyboard-gui"]
	path = msi-keyboard-gui
	url = git@github.com:joseph-zhong/msi-keyboard-gui.git
